@charset "UTF-8";
* {padding:0;margin:0}；


/*重制CSS*/
* {
    padding:0;
    margin:0;
}


/*共通部分*/
html {
    font-size: 100%;
    scroll-behavior: smooth;
}
body {
    font-family: 'Noto Sans SC', sans-serif;
    font-family: 'Varela Round', sans-serif;
    color: rgb(39, 39, 39);
}
a {
    text-decoration: none;
}
h1 {
    color: rgb(39, 39, 39);
    text-align: center;
    padding: 1% 0;
    font-family: 'Varela Round', sans-serif;
    font-style: italic;
}
img {
    max-width: 100%;
}
.big-bg {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}
.button {
    font-size: 25px;
    color: aliceblue;
    text-align: center;
    background-color: lightcoral;
    border-radius: 15px;
    padding: 30px 30px;
    margin: 30px 30px 30px 30px;
    border: 5px;
    border-style: solid;
    border-color: white;
    box-shadow: 2px 2px 5px #000;
}
.button:hover{
    background-color: rgb(248, 107, 107);
}


/*Header 页首*/
header {
    background-color: rgba(240, 248, 255, 0.867);
}
.logo {
    width: 62px;
    height: 62px;
    margin-top: 12px;
}
.main-nav {
    display: flex;
    text-transform: uppercase;
    margin-top: 50px;
}
.main-nav li{
    margin-left: 36px;
    font-style: italic;
}
.main-nav li:after{
    content: "/";
    position: absolute;
    top: 0;
    right: 0;
}
.main-nav a{
    color: rgb(39, 39, 39);
}
.main-nav a:hover{
    color: rgb(97, 97, 97);
}
.page-header{
    display: flex;
    justify-content: space-between;
}
.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 3%;
}


/*Home Content*/
#home {
    background-image: url(../img/81390105_p0_master1200.jpg),linear-gradient(rgb(255, 255, 255),rgba(255, 255, 255, 0));
    background-blend-mode: hard-light;
    min-height: 100vh;
}
.home-content {
    text-align: center;
    margin-top: 10%;
}
.home-content p {
    font-size: 1.125rem;
    margin: 10px 0 42px;
}
.home-title{
    font-size: 52px;
}


/*About*/
#about .wrapper{
    display: flex;
    justify-content: space-around;
    padding-bottom: 23px;
}
#about .box {
    width: 300px;
    text-align: center;
    padding: 10px 10px 10px 10px;
}


/*Join*/
#join{
    background-color: #e1eec1;
}
#join .wrapper{
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
    padding-bottom: 12px;
}


/*Contact*/
#contact {
    padding-bottom: 12px;
}
#contact h3{
    text-align: center;
}


/*Footer*/
.footer {
    background-color: #ffffff;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
}


/*Mobile*/
@media (max-width: 600px) {
}
